# KDE Config File
[Desktop Entry]
Type=Application
Exec=kartesio -caption "%c" %i
Icon=kartesio
X-DocPath=kartesio/index.html
MimeType=chemical/x-cml;
Comment=Calculate a best fit curve for some points
Terminal=false
Name=Kartesio
GenericName=Best fit curve calculator
Categories=Qt;KDE;Education;Science;Chemistry;Math;Phisycs;
