Source: kartesio
Section: science
Priority: optional
Maintainer: ZorbaProject <TRINGALINVENT@libero.it>
Build-Depends: debhelper (>= 8.0.0), qt-sdk
Standards-Version: 3.9.4
Homepage: http://www.zorbaproject.org/kartesio/
#Vcs-Git: git://git.debian.org/collab-maint/kartesio.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/kartesio.git;a=summary

Package: kartesio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5printsupport5, libqt5widgets5, libqt5script5, libqt5gui5, libqt5core5a, libc6, libstdc++6, libgcc1, libglib2.0-0, libx11-6, libpng12-0, libharfbuzz0b, zlib1g, libgl1-mesa-glx, libicu52, libffi6, libpcre3, libxcb1, libfreetype6, libgraphite2-3, libglapi-mesa, libxext6, libxdamage1, libxfixes3, libx11-xcb1, libxcb-glx0, libxcb-dri2-0, libxcb-dri3-0, libxcb-present0, libxcb-sync1, libxshmfence1, libxxf86vm1, libdrm2, libxau6, libxdmcp6, maxima
Description: Program for calculating best fit curves for a set of experimental points using regression algorithms and neural networks.
 Kartesio also allows you to better understand how a neural network works, thanks to its "automatic line recognition" feature which shows the neural network structure in real time.
