# KDE Config File
[Desktop Entry]
Type=Application
Exec=kartesio -caption %c %i
Icon=kartesio
X-DocPath=kartesio/index.html
MimeType=chemical/x-kartesio;
Comment=Calculate a best fit curve for some points
Comment[bg]=Пресмятане на крива по зададени точки
Comment[de]=Berechnet die am besten passende Kurve für mehrere Punkte
Comment[es]=Calcular la mejor curva de ajuste para algunos puntos
Comment[et]=Parima sobivusega kõvera arvutamine mõningate punktide põhjal
Comment[fi]=Laske käyrän paras sovitus tiettyjen pisteiden suhteen
Comment[fr]=Calcule l'ajustement optimal d'une courbe sur certains points
Comment[gl]=Calcular un axuste de curvas para puntos dados
Comment[hu]=Kiszámítja a néhány pontra legjobban illeszkedő görbét
Comment[it]=Calcola la migliore curva approssimante per una serie di punti
Comment[km]=គណនា​ខ្សែកោង​សមបំផុត​សម្រាប់​ចំណុច​មួយ​ចំនួន
Comment[nds]=En op't best passen Bagen för en Reeg vun Pünkt utreken
Comment[nl]=Een best passende kromme voor enige punten berekenen
Comment[pl]=Oblicz krzywą najlepszego dopasowania dla pewnych punktów
Comment[pt]=Calcular uma curva de ajuste óptimo para alguns pontos
Comment[pt_BR]=Calcular uma curva de ajuste ótimo para alguns pontos
Comment[sk]=Výpočet najlepšej zhody krivky pre niektoré body
Comment[sv]=Beräkna en bästa kurvanpassning för ett antal punkter
Comment[tr]=Bazı noktalar için en uygun eğriyi hesaplayın
Comment[uk]=Визначення кривої найкращого наближення за декількома точками
Comment[x-test]=xxCalculate a best fit curve for some pointsxx
Comment[zh_CN]=计算多点的最佳拟合曲线
Terminal=false
Name=Kartesio
Name[bg]=Kartesio
Name[cs]=Kartesio
Name[de]=Kartesio
Name[es]=Kartesio
Name[et]=Kartesio
Name[fi]=Kartesio
Name[fr]=Kartesio
Name[ga]=Kartesio
Name[gl]=Kartesio
Name[hu]=Kartesio
Name[it]=Kartesio
Name[km]=Kartesio
Name[mr]=कार्टेसिओ
Name[nds]=Kartesio
Name[nl]=Kartesio
Name[pl]=Kartesio
Name[pt]=Kartesio
Name[pt_BR]=Kartesio
Name[sk]=Kartesio
Name[sv]=Kartesio
Name[tr]=Kartesio
Name[uk]=Kartesio
Name[x-test]=xxKartesioxx
Name[zh_CN]=Kartesio
GenericName=Best fit curve calculator
GenericName[bg]=Пресмятане на криви
GenericName[de]=Berechnung am besten passender Kurven
GenericName[es]=Calculadora de la mejor curva de ajuste
GenericName[et]=Parima sobivusega kõvera arvutamine
GenericName[fi]=Parhaan vastaavuuden käyrän laskin
GenericName[fr]=Calculateur d'ajustement optimal de courbes
GenericName[gl]=Calculadora de axuste de curvas
GenericName[hu]=Legjobban illeszkedő görbe számító
GenericName[it]=Calcolatore di curve approssimanti
GenericName[km]=កម្មវិធី​គណនា​ខ្សែកោង​សម​បំផុត​
GenericName[nds]=Reekner för op't best passen Bagens
GenericName[nl]=Rekenmachine voor best passende kromme
GenericName[pl]=Kalkulator krzywej najlepszego dopasowania
GenericName[pt]=Calculadora de curvas de ajuste óptimo
GenericName[pt_BR]=Calculadora de curvas de ajuste ótimo
GenericName[sk]=Kalkulačka najlepšej zhody krivky
GenericName[sv]=Beräkning av bästa kurvanpassning
GenericName[tr]=En uygun eğri hesaplayıcı
GenericName[uk]=Програма для обчислення кривої найкращого наближення
GenericName[x-test]=xxBest fit curve calculatorxx
GenericName[zh_CN]=最佳拟合曲线计算器
Categories=Qt;KDE;Education;Science;Chemistry;Math;Physics;
